{% extends 'appHomePage/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container">
	<div class="banner">
		<h1>Товаровед</h1>
		<h2>Онлайн-склад</h2>
		<p>для учёта товаров</p>
	</div>
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="FormAuth">
                {% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="login" name="login" class="login__input" placeholder="Логин" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Пароль" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Войти</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<a href="{% url 'urlRegPage' %}" class="link_reg"><h3>Регистрация</h3></a>			
				<h3>Помощь</h3>				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<section style="margin-top: 38%; margin-bottom: 10px;"   class="container">
	<div class="container__content">
		 <h1 class="title">
			  Новости
			  <img src="{% static 'appHome/img/fire.svg' %}" alt="">                   
		 </h1>
		 <div class="news">
			  {% for new in news %}
			  <div class="card">
				   {% if new.preview %}
						 <img src="{{new.preview.url}}" alt="" class="preview">
				   {% else %}      
						<img src="{% static 'appHome/img/default.jpg' %}" alt="" class="preview">
				   {% endif %}
				   <h5>{{new.title}}</h5>
				   <p>{{news.dtime}}</p>
				   <a href="">
						Читать
						<img src="{% static 'appHome/img/read.svg' %}" alt="">
				   </a>
			  </div>                  
			  {% endfor %}       
		  
		 </div>
	</div>
</section>
{% endblock %}