{% extends 'appHomePage/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="container_auth">
	<div class="banner">
		<h1>Товаровед</h1>
		<h2>Онлайн-склад</h2>
		<p>для учёта товаров</p>
	</div>
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="FormAuth">
                {% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="login" name="login" class="login__input" placeholder="Логин" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Пароль" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Войти</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<a href="{% url 'urlRegPage' %}">Регистрация</a>
				<hr style="display:block; height: 15px; border: none;">			
				<a href="#FormContact">Связаться с нами</a>				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</section>


{% include 'appHomePage/news.html' %}
{% include 'footer.html' %}
{% endblock %}