{% extends 'appHomePage/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="container_auth">
	<div class="banner">
		<h1>Товаровед</h1>
		<h2>Онлайн-склад</h2>
		<p>для учёта товаров</p>
	</div>
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="FormAuth">
                {% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="login" name="login" class="login__input" placeholder="Логин" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Пароль" required>
				</div>
				<button class="button login__submit">
					<span class="button__text">Войти</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<a href="{% url 'urlRegPage' %}">Регистрация</a>
				<hr style="display:block; height: 15px; border: none;">			
				<a href="#FormContact">Связаться с нами</a>				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</section>

<section class="container_news">
	<h1 class="title">Последние обновления</h1>		 
	<div class="container_news__content">
		 <div class="news">
			  {% for new in news %}
			  <div class="card">
				   <div class="card__img">
				       {% if new.preview %}
					    	 <img src="{{new.preview.url}}" alt="" class="preview">
				       {% else %}      
					    	<img src="{% static 'appHome/img/default.jpg' %}" alt="" class="preview">
				       {% endif %}
				   </div>   
				   <div class="card__content">
				       <h5>{{new.title}}</h5>
				       <p>{{news.dtime}}</p>
					   <hr style="display:block; height: 25px; border: none;">
				       <a href="">Подробнее...</a>
				   </div>
			  </div>                  
			  {% endfor %} 		  
		 </div>
	</div>

</section>
<section class="container_contact">
    <div class="container_contact__content">
        <h1 class="title">Свяжитесь с нами</h1>
        <div class="contact">
            <p class="contact-text">
                Мы готовы решить любую возникшую проблему
            </p>
            <form method="post" class="contact__form" id="FormContact">
                {% csrf_token %}               
                <input name="name" type="text" placeholder="Введите имя*" required>
                <input name="email" type="email" placeholder="Введите почту*" required>
                <input name="phone" type="tel" placeholder="Введите номер телефона*" required>
                <textarea name="comment" placeholder="Оставьте комментарий"></textarea>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}