{% extends 'base.html' %}
{% load static %}
{% block title %}Обновление{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'appNews/css/appnews_style.css' %}?version={% now 'H:i:s' %}">
{% endblock %}
<style>
    .footer{
        bottom: 0;
    }
</style>
<header class="header">
    <a href="{% url 'urlPageHome' %}">Начать работать</a>
    <a href="{% url 'urlAll_news' %}">Все новости</a>
    <div class="rigth_content_link">
    <a href="{% url 'urlPersonalAccount' %}">Личный кабинет</a>
    <a href="{% url 'urlRecSupport' %}">Помощь</a>
    </div>
</header>
<h2>{{title}}</h2>
<section class="container_news">
    <h1 class="title">Последние обновления</h1>
    <div class="container_news__content">
        <div class="news">
            {% for new in news %}           
            <div class="card">
                <div class="card__content">
                    <h5>{{new.title}}</h5>
                    <p>{{new.dtime}}</p>
                </div>
                <a href="{% url 'urlNews' new.pk %}">Подробнее...</a>
            </div>
            {% if not forloop.last %}
            <hr>           
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}