{% extends 'base.html' %}
{% load static %}
{% block title %}Обновление{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'appNews/css/appnews_style.css' %}?version={% now 'H:i:s' %}">
{% endblock %}
<style>
    .footer{
        bottom: 0;
    }
</style>
<header class="header">
    <a href="{% url 'urlPageHome' %}">Начать работать</a>
    <a href="{% url 'urlAll_news' %}">Все новости</a>        
    <a href="{% url 'urlRecSupport' %}">Помощь</a>
</header>
<h2>{{title}}</h2>
<section class="container_news">
    <div class="container_news__content">
        <div class="news">
            <div class="card">
                <div class="card__content">
                    <p>{{desc|linebreaks}}</p>
                    <p class="card__content-d_time">{{dtime}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}