{% extends 'appWarehouse/base.html' %}
{% load static %}
{% block title %}Добавление товара{% endblock %}

{% block content %}
{% include "appWarehouse/header.html" %}
<h1 class="title">Добавление товара</h1>
<section class="container">
    <div class="container__content">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label for="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Создать</button>
        </form>
    </div>
</section>
{% include "footer.html" %}
{% endblock %}