{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% include "appWarehouse/header.html" %}

<h1 class="title">Личный кабинет</h1>
<section class="container">
  <div class="container__content">

    <div class="table_product">
      <div class="addproduct_link"> 
        <a href="{% url 'urlAddProduct' %}">Добавить товар</a>
    </div>
      <table class="table_product__content" cellpadding="0" cellspacing="0" >

        <tr>
          <th class="table_title">Изображение</th>
          <th class="table_title">Название</th>
          <th class="table_article">Артикул</th>
          <th class="table_price">Цена</th>
          <th class="table_count">Кол-во</th>          
        </tr>
        {% for pd in products %}
        <tr class="table_product__content-tr">
          <td class="table_image"><a href="{% url 'urlProduct' pd.pk %}"><img src='{{pd.image.url}}' width=50></a></td>
          <td><a href="{% url 'urlProduct' pd.pk %}">{{pd.title}}</a></td>
          <td><a href="{% url 'urlProduct' pd.pk %}">{{pd.article}}</td></a>
          <td class="table_price"><a href="{% url 'urlProduct' pd.pk %}">{{pd.price}}</td></a>
          <td class="table_count"><a href="{% url 'urlProduct' pd.pk %}">{{pd.count}}</td></a>       
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</section>

{% include "footer.html" %}
{% endblock %}