{% extends 'appWarehouse/base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
{% include "appWarehouse/header.html" %}
<h1 class="title">Личный кабинет</h1>
<section class="container">
  <div class="container__content">
    <div class="addproduct_link">
      <button id="updateButton" href="{% url 'urlAddProduct' %}">Обновить</button>
      <div>
        <a href="{% url 'urlIncomeProduct' %}">Приход</a>
        <a href="{% url 'urlExpenseProduct' %}">Расход</a>
        <a href="{% url 'urlAddProduct' %}">Добавить товар</a>
      </div>
    </div>
    <div class="table_product">
      <table class="table_product__content" cellpadding="0" cellspacing="0" >
        <tr>
          <th class="table_title">Название</th>
          <th class="table_article">Артикул</th>
          <th class="table_price">Цена</th>
          <th class="table_count">Кол-во</th>          
        </tr>
        {% for pd in products %}
        <tr class="table_product__content-tr">
          <td><a href="{% url 'urlProduct' pd.pk %}">{{pd.title}}</a></td>
          <td><a href="{% url 'urlProduct' pd.pk %}">{{pd.article}}</td></a>
          <td class="table_price"><a href="{% url 'urlProduct' pd.pk %}">{{pd.price}}</td></a>
          <td class="table_count"><a href="{% url 'urlProduct' pd.pk %}">{{pd.count}}</td></a>       
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</section>

{% include "footer.html" %}

<script>
  $(document).ready(() => {

    $("#updateButton").click(function () {
      $.ajax({
        type: "GET",
        success: function (response) {
          console.log(response)
        },
        error: function (err) {
          console.log(err)
        }
      })
    })
  })

</script>
{% endblock %}